<a href="https://colab.research.google.com/github/Jagannath8/Python-Lab/blob/main/Lab-2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Display simple interest and compound interest.

In [5]:
p = int(input("Enter principal amount: "))
r = int(input("Enter rate of interest: "))
t = int(input("Enter time period: "))
SI = (p*r*t)/100
CI = p * ((1+r/100) ** t-1)

print("Simple Interest= ",SI)
print("Compound Interest= ",CI)

Enter principal amount: 100
Enter rate of interest: 5
Enter time period: 2
Simple Interest=  10.0
Compound Interest=  10.250000000000004

# Wrie a program to input 1st name, mid name, last name into three variables and then apply concatenation.

In [10]:
first = input("Enter 1st name: ")
mid = input("Enter mid name: ")
last = input("Enter last name: ")
print("Full name:", first + " " +  mid + " "  + last)

Enter 1st name: Bijay
Enter mid name: Kumar
Enter last name: Panda
Full name: Bijay Kumar Panda

# Write a program to create a list with multiple dimensions and display the elements of it.

In [12]:
a = [[1,2,3,4,5], [6,7,8,9,10], [11,12,13,14,15]] 
print(a)

[[1, 2, 3, 4, 5], [6, 7, 8, 9, 10], [11, 12, 13, 14, 15]]

# Write a program to implement type conversions on different data types.

In [19]:
str = "10"
print(type(str))
new = int(str)
print(new)
print(type(new))

<class 'str'>
10
<class 'int'>

# Find the distance between 2 points using pythagoras theorem where the coordinates of two points given input.

In [34]:
import math
x1=int(input("enter x1 : "))
x2=int(input("enter x2 : "))
y1=int(input("enter y1 : "))
y2=int(input("enter y2 : "))
result = math.sqrt( ( (x2 - x1 )**2) + ( (y2 - y1)**2)) 
print("Distance between",(x1,x2),"and",(y1,y2),"is : ",result)

enter x1 : 5
enter x2 : 2
enter y1 : 6
enter y2 : 3
Distance between (5, 2) and (6, 3) is :  4.242640687119285